<h2>Google/Facebook Login</h2>

<p>
<%= link_to("Google Login", "/auth/google_oauth2") %>
</p>

<h2>Normal Login</h2>
<%= bootstrap_form_tag :url => sessions_path, :method => :post do |f| %>
  <%= f.text_field :username %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in" %>
<% end %>

<p>
Don't have an account? Click <%= link_to("here", new_user_path) %> to create a new account.
</p>
<p>
Forgot your password? Click <%= link_to("here", "/password_reset/reset_request") %> to reset your password.
</p>
