
<%= bootstrap_form_tag :url => sessions_path, :method => :post do |f| %>
  <%= f.text_field :username %>
  <%= f.password_field :password %>

  <%= f.submit "Sign in" %>
<% end %>

<p>
Don't have an account? Click <%= link_to("here", new_user_path) %> to create a new account.
</p>
<p>
Forgot your password? Click <%= link_to("here", "/users/password_reset") %> to reset your password.
</p>
