
  <div class="media">
    <a class="pull-left" href="<%= item_set_path(item_set) %>">
      <img width="64" height="64" class="media-object" src="<%= item_set.champion_image_url %>" alt="Portrait of <%= item_set.champion %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to(item_set.display_name, item_set_path(item_set)) %>
    </h4>
    <p><%= item_set.champion %>, <%= item_set.role %> by 
    <%= mini_gravatar_for(item_set.user) %>
    <%= link_to(item_set.user.display_name, profile_user_path(item_set.user)) %> 
    (<%= pluralize(item_set.subscriptions.count, "subscribers") %>)
      <% if !item_set.visible_to_public %>
        <em>-- This item set is hidden from public view</em>
      <% end %></p>
      <p>Lasted updated <%= time_ago_in_words(item_set.updated_at) %> ago.</p>
    </div><!-- media-body -->
  </div><!-- media -->
