
<div class="row">
  <div class="col-lg-12">
    <%= bootstrap_form_for(@item_set, :layout => :horizontal) do |f| %>
      <%= f.text_field :title %>
      <%= f.radio_buttons_collection :role, ItemSet::ROLES, :to_s, :to_s %>

      <%= f.radio_buttons_collection :visible_to_public, 
        ItemSet::Visibility.all, 
        :id, :value %>

      <%= f.submit "Update Meta Data" %>
      <%= link_to 'Go Back', item_set_path(@item_set), :class => 'btn btn-danger' %>
    <% end %>
  </div><!-- col -->
</div><!-- row -->
