
<div ng-controller="itemSetViewController" class="row">
  <div class="col-lg-10">
    <p>Last updated <%= time_ago_in_words(@item_set.updated_at) %> ago. There are currently
    <%= pluralize(@item_set.subscriptions.count, "subscribers") %></p>
    <p>Created at <%= time_ago_in_words(@item_set.created_at) %> ago by 
    <%= mini_gravatar_for(@item_set.user) %>
    <%= link_to(@item_set.user.display_name, profile_user_path(@item_set.user)) %>.</p>

    <%= @item_set.description %>

    <h3>Item Set</h3>
    <% if @item_set_data.blank? or @item_set_data['blocks'].blank? %>
      <p>This item set is currently blank.</p>
    <% else %>
      <%= render :partial => 'item_set_view', :locals => {:item_set_data => @item_set_data} %>
    <% end %>


    <hr />

    <% if @subscription.blank? %>
      <%= link_to(raw("<span class='glyphicon glyphicon-ok'></span> ") +
                  "Subscribe", subscriptions_path(:subscription => {:item_set_id => @item_set.id}), :method => :post, :class => 'btn btn-primary' ) %>
    <% else %>
      <%= link_to(raw("<span class='glyphicon glyphicon-remove'></span> ") +
                  "Unsubscribe", subscription_path(@subscription), :method => :delete, :class => 'btn btn-primary' ) %>
    <% end %>
    <a class="btn btn-default" href="/install">
      <span class="glyphicon glyphicon-book"></span> How to Use
    </a>

    <button ng-click="syntaxHighlight()"  type="button" class="btn" data-toggle="modal" data-target="#jsonModal">
     <span class="glyphicon glyphicon-list"></span> Source
    </button>

    <hr />

    <!-- COMMENT AREA -->
    <h3>Comments</h3>
    <% @item_set_comments.each do |comment| %>
      <% next if !comment.persisted? %>
      <div class="well">
        <p>By 
        <%= mini_gravatar_for(comment.user) %>
        <%= link_to(comment.user.display_name, profile_user_path(comment.user)) %>

        
        <% if comment.user.id == current_user.id %>
          (<%= link_to("Delete", item_set_item_set_comment_path(@item_set, comment), :method => :delete) %>)
        <% end %>
        </p>
        <p>
          <%= comment.comment %>
        </p>
      </div>
    <% end %>

    <% if @item_set.item_set_comments.count == 0 %>
      <p>There are currently no comments on this item set.</p>
    <% end %>

    <%= bootstrap_form_for([@item_set, @item_set_comment], :method => :post) do |f| %>
      <%= f.text_area :comment, :label => "Comment on this Item Set" %>
      <%= f.submit "Post Comment" %>
    <% end %>
    <!-- END OF COMMENT AREA -->
  </div><!-- col -->


  <% if signed_in? and current_user.id == @item_set.user_id %>
    <div class="col-md-2">
      <h4>Actions</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to("Edit Item Set", edit_children_item_set_path(@item_set)) %></li>
        <li><%= link_to("Edit Metadata", edit_item_set_path(@item_set)) %></li>
      </ul>
    </div><!-- col -->
  <% end %>
</div><!-- row -->

<!-- Modal -->
<div class="modal fade" id="jsonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">JSON of <%= @item_set.display_name %></h4>
      </div>
      <div class="modal-body">
        <pre class="brush: js"><%= @item_set.to_game_json(true) %></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
