<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OpenItemSets" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= include_gon %>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to("Open Item Sets", root_url, :class => "navbar-brand") %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to("Browse Item Sets", item_sets_path) %></li>
            <% if signed_in? %>
              <li><%= link_to("View My Item Sets", profile_user_path(current_user)) %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Preferences</a></li>
                  <li>
                    <%= link_to("Sign out", session_path(1), :method => :delete) %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to("Register", new_user_path) %>
              </li>
              <li>
                <%= link_to("Log in", new_session_path) %>
              </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="page-content" class="container">
      <% if !@page_title.blank? %>
        <h1><%= @page_title %></h1>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dissmissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= value %>
        </div>
      <% end %>

      <%= yield %>

      <footer>
        <p>Copyright 2014 &copy; Open Item Sets Project. By using this site and its services, you agree to the Terms of Service and Privacy Policy.</p>
        <ul>
          <li><%= link_to('Source Code', 'http://www.github.com/ichiro101/openitemsets_web') %></li>
          <li><%= link_to('Terms of Service', '#') %></li>
          <li><%= link_to('Privacy', '#') %></li>
          <li><%= link_to('About & Contact Us', '#') %></li>
        </ul>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
